p {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h4,
.loading,
.home-message {
  text-align: center;
}

.home-message {
  margin-bottom: 20px;
}

.loading {
  width: 100%;
}

.loading-icon {
  animation: spin 3s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  display: flex !important;
  flex-wrap: wrap !important;
}

.error {
  margin: 0 auto;
}

.error,
.loading {
  padding-top: 300px;
}

.error-text {
  color: #f50057;
  font-weight: bold;
  text-align: center;
}

.error-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.MuiCardHeader-title {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
}
